<div class="card mx-auto mt-4">
  <div class="card-header text-center text-primary">
    <h3>Resources</h3>
  </div>


  <ul class="list-group list-group-flush">

    <!-- maybe a popup that is syncing -->
    @if (papers().length == 0) {
    <li class="list-group-item d-flex">
      <span class="mt-auto">🔄</span>
      <span class="mt-auto ms-auto">Syncing...</span>
    </li>
    }

    @for (paper of papers(); track paper.id) {
    <li class="list-group-item d-flex">
      @if (paper.completed) { <span class="mt-auto">✅</span> }
      @else                 { <span class="mt-auto">❎</span> }

      @if (paper.completed && paper.resource.type !== 'module') {
      <a class="nav-link w-100 mx-3 text-center text-truncate" [routerLink]="[]">
        <span class="lead">{{ $any(paper.resource).title }}</span>
      </a>
      }

      @else {
      <a class="nav-link w-100 mx-3 text-center text-truncate" [routerLink]="['slider', paper.id]">
        <span class="lead">{{ $any(paper.resource).title }}</span>
      </a>
      }

      <span class="mt-auto ms-auto text-success">{{ $any(paper.resource).type }}</span>
    </li>
    }

  </ul>

</div>
