<h3>Notifications</h3>

<div class="mt-3">
  <button class="btn btn-primary me-3" (click)="getEso('questions')">Questions</button>
  <button class="btn btn-primary me-3" (click)="getEso('media')">Media</button>
  <button class="btn btn-primary me-3" (click)="getEso('resources')">Resources</button>
  <button class="btn btn-primary me-3" (click)="getEso('slides')">Slides</button>
</div>

<div class="mt-3">
  <button class="btn btn-primary me-3" (click)="getEso('answers')">Answers</button>
  <button class="btn btn-primary me-3" (click)="getEso('papers')">Papers</button>
  <button class="btn btn-primary me-3" (click)="getEso('scores')">Records</button>
</div>

<div class="mt-3">
  <button class="btn btn-primary me-3" (click)="global_login()">Global login</button>
  <button class="btn btn-primary me-3" (click)="interv_login()">Interv login</button>
</div>
