<!-- @defer (when ready) { -->
  <swiper-container
    *ngIf="ready"
    auto-height="false"
    loop="false"
    initial-slide="0"
    follow-finger="false"
    prevent-clicks="true"
    slides-per-view="1"
    space-between="200"
    navigation="true"
    navigation-next-el="#next-slide"
    navigation-prev-el="#prev-slide"
    [attr.allow-slide-next]="allowSlideNext"
    [attr.allow-slide-prev]="allowSlidePrev"
    (swiperreachend)="reachEnd()"
    #swiper>

    @for (content of get_content(paper().resource.type); track content.id) {
    <swiper-slide>
      <div class="d-flex align-items-center position-relative mt-4">
        <div class="card mx-auto" style="margin-top: 100px; width: 100%;">

          @defer (on viewport) {
          <div class="d-md-none media-up" [class.media-up-gradient]="content.media && content.media.type === 'image' || !content.media">
            <media-element [media]="content.media"></media-element>
            <!-- <app-media [media]="content.media"></app-media> -->
          </div>
          } @placeholder {
          <div class="d-md-none media-up" [class.media-up-gradient]="true"></div>
          }

          <div class="card-body">
            <div class="row">

              <div class="d-none d-md-block col-3 offset-1">
                @defer (on viewport) {
                <div class="media-left" [class.media-left-gradient]="content.media && content.media.type === 'image' || !content.media">
                  <!-- <app-media [media]="content.media"></app-media> -->
                  <media-element [media]="content.media"></media-element>
                </div>
                } @placeholder {
                <div class="media-left" [class.media-left-gradient]="true"></div>
                }
              </div>

              <div class="col mx-md-4 d-md-flex flex-md-column justify-content-center">

                <!-- <h5 class="card-title mb-3 fs-3 text-primary text-center"><u>{{ paper().resource.title }}</u></h5> -->
                <h5 class="card-title mb-3 fs-3 text-primary text-center"><u>{{ content.title }}</u></h5>

                @switch (paper().resource.type) {
                  @case ("module") {
                  <p class="card-text lead"
                    style="text-align: justify;">{{ $any(content).content }}</p>
                  }

                  @case ("slides") {
                    @if (content.type === "content") {
                    <p class="card-text lead"
                      style="text-align: justify;">{{ $any(content).content }}</p>
                    } @else {
                    <question-element
                      (change)="change_answer($event)"
                      [question]="$any(content.question)"
                      [answer]="get_answer($any(content.question).id)"
                      [locale]="locale"></question-element>
                    }
                  }

                  @case ("form") {
                    <question-element
                      (change)="change_answer($event)"
                      [question]="$any(content)"
                      [answer]="get_answer($any(content).id)"
                      [locale]="locale"></question-element>
                  }

                  @default {
                  <p>type unknown</p>
                  }
                }

              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="d-flex justify-content-between justify-content-md-evenly">

              <button id="prev-slide" class="d-none d-md-block btn btn-primary" (click)="prev()">⭠ Prev</button>

              <a class="mx-auto mx-md-0 btn btn-primary"
                *ngIf="reachedEnd"
                [class.disabled]="!completed"
                (click)="submit()">Exit
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                  </svg>
              </a>

              <button id="next-slide" class="d-none d-md-block btn btn-primary" (click)="next()">Next ⭢</button>

            </div>
          </div>

        </div>
      </div>
    </swiper-slide>
    }
  </swiper-container>
<!-- } @placeholder { -->
<!-- <p>Waiting for the resource</p> -->
<!-- } -->
